In [ ]:
# Importando bibliotecas necessárias para o projeto

In [16]:
import pyodbc
import pandas as pd
import numpy as np
import duckdb
connection = duckdb.connect()

In [17]:
# conectando no bd sql server

In [18]:
def retornar_conexao_sql():
    try:
        server = "LAPTOP-3H7TVLV9"
        database = "Datalake"
        string_conexao = 'Driver={SQL Server Native Client 11.0};Server='+server+';Database='+database+';Trusted_Connection=yes;'
        conexao = pyodbc.connect(string_conexao)
        print('Conexão realizada com sucesso')
    except Error as err:
        print(f"Error: '{err}'")
    return conexao

In [19]:
def retornar_conexao_sql():
    server = "LAPTOP-3H7TVLV9"
    database = "Datalake"
    #username = "python"
    #password = "qweasd321"
    string_conexao = 'Driver={SQL Server Native Client 11.0};Server='+server+';Database='+database+';Trusted_Connection=yes;'
    conexao = pyodbc.connect(string_conexao)
    return conexao

In [20]:
retornar_conexao_sql()

In [21]:
cursor = retornar_conexao_sql()

In [22]:
sql = ("select * from Usuarios.Cadastros")

In [27]:
duckdb.read_csv('C:\\Users\\ricar\\Downloads\\Python-Data-Science-and-Machine-Learning-Bootcamp\\cadastros.csv')

┌───────┬──────────────────┬──────────┬───────────┬───────────────────────────┐
│  Id   │     strNome      │ strIdade │ strEstado │       strProfissao        │
│ int64 │     varchar      │  int64   │  varchar  │          varchar          │
├───────┼──────────────────┼──────────┼───────────┼───────────────────────────┤
│     1 │ Ricardo Silva    │       41 │ SP        │ Tech Lead                 │
│     2 │ Natalia Oliveira │       35 │ SP        │ Analista de Dados Jr      │
│     3 │ Carlos Oliveira  │       39 │ SP        │ Corretor de Seguros       │
│     4 │ Alexandre        │       29 │ MG        │ Engenheiro de Dados Pleno │
│     5 │ Paula            │       35 │ MG        │ Engenheiro de Dados Pleno │
│     6 │ Abner            │       35 │ SP        │ Cordenador                │
│     7 │ Neymar           │       30 │ SP        │ Jogador de Futebol        │
└───────┴──────────────────┴──────────┴───────────┴───────────────────────────┘

In [23]:
df_cadastro = pd.read_sql(sql,cursor)

In [8]:
display(df_cadastro)

,id,strNome,strIdade,strEstado,strProfissao,dtNascimento
0,1,Ricardo Aparecido da Silva,41,SP,Tech Lead,2008-12-17 14:37:56.310
1,2,Natalia Oliveira,35,SP,Analista de Dados Jr,1981-08-01 14:38:26.467
2,3,Carlos Oliveira,39,SP,Corretor de Seguros,1995-04-10 14:38:46.750
3,4,Alexandre Pato,29,MG,Engenheiro de Dados Pleno,2008-12-17 14:39:00.180
4,5,Paula Amancio,35,MG,Engenheiro de Dados Pleno,2014-06-09 14:37:12.983
5,7,Robert Soares de Souza,30,RJ,Enfermeiro,2022-09-21 08:54:24.093
6,8,João Marcelo,55,RJ,Segurança,2024-12-09 10:29:33.590
7,9,Neymar Jr.,30,SP,Jogador de Futebol,2024-12-09 10:36:49.313
8,10,Pelé.,80,SP,Jogador de Futebol,2024-12-09 10:38:27.697

In [9]:
df_cadastro[df_cadastro.strNome.str.startswith('Nat')]

,id,strNome,strIdade,strEstado,strProfissao,dtNascimento
1,2,Natalia Oliveira,35,SP,Analista de Dados Jr,1981-08-01 14:38:26.467

In [10]:
df_cadastro.query('strProfissao == "Tech Lead"')

,id,strNome,strIdade,strEstado,strProfissao,dtNascimento
0,1,Ricardo Aparecido da Silva,41,SP,Tech Lead,2008-12-17 14:37:56.310

In [28]:
df_cadastro.query('strEstado == "SP"')

,id,strNome,strIdade,strEstado,strProfissao,dtNascimento
0,1,Ricardo Aparecido da Silva,41,SP,Tech Lead,2008-12-17 14:37:56.310
1,2,Natalia Oliveira,35,SP,Analista de Dados Jr,1981-08-01 14:38:26.467
2,3,Carlos Oliveira,39,SP,Corretor de Seguros,1995-04-10 14:38:46.750
7,9,Neymar Jr.,30,SP,Jogador de Futebol,2024-12-09 10:36:49.313
8,10,Pelé.,80,SP,Jogador de Futebol,2024-12-09 10:38:27.697

In [11]:
pd.read_csv('C:\\Users\\ricar\\Downloads\\Python-Data-Science-and-Machine-Learning-Bootcamp\\cadastros.csv'
            ,delimiter = ';',header = 0)

   Id           strNome  strIdade strEstado               strProfissao
0   1     Ricardo Silva        41        SP                  Tech Lead
1   2  Natalia Oliveira        35        SP       Analista de Dados Jr
2   3   Carlos Oliveira        39        SP        Corretor de Seguros
3   4         Alexandre        29        MG  Engenheiro de Dados Pleno
4   5             Paula        35        MG  Engenheiro de Dados Pleno
5   6             Abner        35        SP                 Cordenador

In [11]:
df_teste = pd.read_csv('C:\\Users\\ricar\\Downloads\\Python-Data-Science-and-Machine-Learning-Bootcamp\\cadastros.csv'
            ,delimiter = ';',header = 0)

In [12]:
display(df_teste)

   Id           strNome  strIdade strEstado               strProfissao
0   1     Ricardo Silva        41        SP                  Tech Lead
1   2  Natalia Oliveira        35        SP       Analista de Dados Jr
2   3   Carlos Oliveira        39        SP        Corretor de Seguros
3   4         Alexandre        29        MG  Engenheiro de Dados Pleno
4   5             Paula        35        MG  Engenheiro de Dados Pleno

In [40]:
df = pd.DataFrame(columns=['A'])
for i in range(5):
    df = df.append({'A': i}, ignore_index=True)
df

   A
0  0
1  1
2  2
3  3
4  4

In [13]:
usuarios_cadastros = ("select * from Usuarios.Cadastros")
usuarios_documentos = ("select * from Usuarios.Documentos")

In [14]:
df_cadastro = pd.read_sql(usuarios_cadastros,cursor)
df_documentos = pd.read_sql(usuarios_documentos,cursor)

In [15]:
display(df_cadastro)

,id,strNome,strIdade,strEstado,strProfissao,dtNascimento
0,1,Ricardo Silva,41,SP,Tech Lead,2008-12-17 14:37:56.310
1,2,Natalia Oliveira,35,SP,Analista de Dados Jr,1981-08-01 14:38:26.467
2,3,Carlos Oliveira,39,SP,Corretor de Seguros,1995-04-10 14:38:46.750
3,4,Alexandre,29,MG,Engenheiro de Dados Pleno,2008-12-17 14:39:00.180
4,5,Paula,35,MG,Engenheiro de Dados Pleno,2014-06-09 14:37:12.983

In [17]:
display(df_documentos)

   id          cpf
0   1  27664564858
1   2  35664564858
2   3  13464564858
3   4  668664858

In [26]:
print(df_documentos)

   id          cpf
0   1  27664564858
1   2  35664564858
2   3  13464564858
3   4  668664858

In [37]:
result = pd.concat([df_cadastro, df_documentos], axis=1, join="inner")

In [38]:
display(result)

,Id,strNome,strIdade,strEstado,strProfissao,dtNascimento,id,cpf
0,1,Ricardo Silva,41,SP,Tech Lead,2008-12-17 14:37:56.310,1,27664564858
1,2,Natalia Oliveira,35,SP,Analista de Dados Jr,1981-08-01 14:38:26.467,2,35664564858
2,3,Carlos Oliveira,39,SP,Corretor de Seguros,1995-04-10 14:38:46.750,3,13464564858
3,4,Alexandre,29,MG,Engenheiro de Dados Pleno,2008-12-17 14:39:00.180,4,668664858

In [18]:
print(df_documentos)

   id          cpf
0   1  27664564858
1   2  35664564858
2   3  13464564858
3   4  668664858

In [52]:
def greet(name):
    print("Olá, " + name + ". Bom Dia!")

In [53]:
greet('Ricardo')

Olá, Ricardo. Bom Dia!

In [54]:
print(greet("May"))

Olá, May. Bom Dia!
None

In [55]:
def absolute_value(num):
    if num >= 0:
        return num
    else:
        return -num

In [57]:
print(absolute_value(-423))

423

In [69]:
cpf = '276.686.648-58'

In [70]:
replacedString = cpf.replace('-', '').replace('.','')

In [75]:
len(replacedString)

11

In [85]:
def checar_cpf(cpf):
    if len(cpf) <= 11:
        return 'cpf correto'
    else:
        return 'cpf incorreto'

In [86]:
print(checar_cpf('7668664858'))

cpf correto

In [88]:
pd.read_csv('C:\\Users\\ricar\\Downloads\\Python-Data-Science-and-Machine-Learning-Bootcamp\\cadastros.csv'
            ,delimiter = ';',header = 0)

   Id           strNome  strIdade strEstado               strProfissao
0   1     Ricardo Silva        41        SP                  Tech Lead
1   2  Natalia Oliveira        35        SP       Analista de Dados Jr
2   3   Carlos Oliveira        39        SP        Corretor de Seguros
3   4         Alexandre        29        MG  Engenheiro de Dados Pleno
4   5             Paula        35        MG  Engenheiro de Dados Pleno

In [89]:
pd.read_csv('C:\\Users\\ricar\\Downloads\\Python-Data-Science-and-Machine-Learning-Bootcamp\\cadastros.csv'
            ,delimiter = ';',header = 0).query('strProfissao == "Tech Lead"')

   Id        strNome  strIdade strEstado strProfissao
0   1  Ricardo Silva        41        SP    Tech Lead

In [90]:
csv_usuarios = pd.read_csv('C:\\Users\\ricar\\Downloads\\Python-Data-Science-and-Machine-Learning-Bootcamp\\cadastros.csv'
            ,delimiter = ';',header = 0)

In [91]:
print(csv_usuarios)

   Id           strNome  strIdade strEstado               strProfissao
0   1     Ricardo Silva        41        SP                  Tech Lead
1   2  Natalia Oliveira        35        SP       Analista de Dados Jr
2   3   Carlos Oliveira        39        SP        Corretor de Seguros
3   4         Alexandre        29        MG  Engenheiro de Dados Pleno
4   5             Paula        35        MG  Engenheiro de Dados Pleno

In [92]:
display(csv_usuarios)

   Id           strNome  strIdade strEstado               strProfissao
0   1     Ricardo Silva        41        SP                  Tech Lead
1   2  Natalia Oliveira        35        SP       Analista de Dados Jr
2   3   Carlos Oliveira        39        SP        Corretor de Seguros
3   4         Alexandre        29        MG  Engenheiro de Dados Pleno
4   5             Paula        35        MG  Engenheiro de Dados Pleno

In [16]:
pd.read_json('C:\\Users\\ricar\\Downloads\\Python-Data-Science-and-Machine-Learning-Bootcamp\\cadastros.json')

   Id           strNome  strIdade strEstado               strProfissao
0   1     Ricardo Silva        41        SP                  Tech Lead
1   2  Natalia Oliveira        35        SP       Analista de Dados Jr
2   3   Carlos Oliveira        39        SP        Corretor de Seguros
3   4         Alexandre        29        MG  Engenheiro de Dados Pleno
4   5             Paula        35        MG  Engenheiro de Dados Pleno

In [20]:
csv_usuarios.to_csv('C:\\Users\\ricar\\Downloads\\Python-Data-Science-and-Machine-Learning-Bootcamp\\cadastros_salvo.csv')

NameError: name 'csv_usuarios' is not defined

In [19]:
pd.read_xml("evtExclusaoeFinanceira.xml")

AttributeError: module 'pandas' has no attribute 'read_xml'

In [8]:
pd.DataFrame(df_cadastro)

,Id,strNome,strIdade,strEstado,strProfissao,dtNascimento
0,1,Ricardo Silva,41,SP,Tech Lead,2008-12-17 14:37:56.310
1,2,Natalia Oliveira,35,SP,Analista de Dados Jr,1981-08-01 14:38:26.467
2,3,Carlos Oliveira,39,SP,Corretor de Seguros,1995-04-10 14:38:46.750
3,4,Alexandre,29,MG,Engenheiro de Dados Pleno,2008-12-17 14:39:00.180
4,5,Paula,35,MG,Engenheiro de Dados Pleno,2014-06-09 14:37:12.983

In [12]:
pd.DataFrame(df_documentos)

   id          cpf
0   1  27664564858
1   2  35664564858
2   3  13464564858
3   4  668664858

In [37]:
df = pd.DataFrame(df_cadastro)

In [38]:
df2 = pd.DataFrame(df_documentos)

In [25]:
result = pd.concat([df, df2], axis=1, join="inner")

In [23]:
display(result)

,Id,strNome,strIdade,strEstado,strProfissao,dtNascimento,id,cpf
0,1,Ricardo Silva,41,SP,Tech Lead,2008-12-17 14:37:56.310,1,27664564858
1,2,Natalia Oliveira,35,SP,Analista de Dados Jr,1981-08-01 14:38:26.467,2,35664564858
2,3,Carlos Oliveira,39,SP,Corretor de Seguros,1995-04-10 14:38:46.750,3,13464564858
3,4,Alexandre,29,MG,Engenheiro de Dados Pleno,2008-12-17 14:39:00.180,4,668664858

In [29]:
sql = ("SELECT TABLE_SCHEMA + '.' + TABLE_NAME FROM information_schema. tables") 
result_sql = pd.read_sql(sql,cursor)

In [30]:
display(result_sql)

0   Usuarios.Cadastros
1       dbo.transacoes
2  Usuarios.Documentos

In [1]:
import pandas as pd

In [2]:
lista_a = [20,30,40,50]

In [3]:
series_1 = pd.Series(lista_a)

In [6]:
series_1

0    20
1    30
2    40
3    50
dtype: int64

In [8]:
series_1.cumsum()

0     20
1     50
2     90
3    140
dtype: int64

In [19]:
df1 = pd.DataFrame(df_cadastro)
df2 = pd.DataFrame(df_documentos)

In [27]:
df_join = pd.merge(df1,df2,on='id',how='inner')

In [28]:
df_join.head()

,id,strNome,strIdade,strEstado,strProfissao,dtNascimento,cpf
0,1,Ricardo Silva,41,SP,Tech Lead,2008-12-17 14:37:56.310,27664564858
1,2,Natalia Oliveira,35,SP,Analista de Dados Jr,1981-08-01 14:38:26.467,35664564858
2,3,Carlos Oliveira,39,SP,Corretor de Seguros,1995-04-10 14:38:46.750,13464564858
3,4,Alexandre,29,MG,Engenheiro de Dados Pleno,2008-12-17 14:39:00.180,668664858

In [50]:
nome = dic1['nome']

In [52]:
def checar_nome(nome):
    if nome == 'Ricardo':
        return 'Legal'
    else:
        return 'lascou'

In [55]:
checar_nome('Natalia')

'lascou'

In [5]:
if 'x' in 'Ricardo':
    return 'Tem'

SyntaxError: 'return' outside function (<ipython-input-5-5402f1afcb99>, line 2)

In [32]:
nome = 'Ricardo'
print(nome.lower())

ricardo

In [29]:
df_a = pd.DataFrame([{'Id': 1, 'Nome': 'Carlos'}])
df_b = pd.DataFrame([{'Id': 1, 'Cidade': 'São Paulo'}])

# Aplicando o join

df_join = pd.merge(df_a, df_b, on='Id', how='inner')
df_join.head()

   Id    Nome     Cidade
0   1  Carlos  São Paulo

In [30]:
print(df_join)

   Id    Nome     Cidade
0   1  Carlos  São Paulo

In [6]:
df_cadastro

NameError: name 'df_cadastro' is not defined

In [34]:
df_documentos

   id          cpf
0   1  27664564858
1   2  35664564858
2   3  13464564858
3   4  668664858

In [35]:
df_join = pd.merge(df_cadastro, df_documentos, on='id', how='inner')

KeyError: 'id'

In [55]:
cpf = '7668664858'

In [46]:
len(cpf)

10

In [53]:
def validar_cpf(cpf):
    if len(cpf) <=11:
        return 'valido'
    else:
        return 'falso'

In [56]:
validar_cpf(cpf)

'valido'

In [61]:
def retornar_conexao_sql():
    server = "LAPTOP-3H7TVLV9"
    database = "Datalake"
    string_conexao = 'Driver={SQL Server Native Client 11.0};Server='+server+';Database='+database+';Trusted_Connection=yes;'
    conexao = pyodbc.connect(string_conexao)
    return conexao

In [62]:
cursor = retornar_conexao_sql()

In [63]:
sql = ("select * from Usuarios.Cadastros")

In [64]:
df_cadastro = pd.read_sql(sql,cursor)

In [65]:
df_cadastro

,Id,strNome,strIdade,strEstado,strProfissao,dtNascimento
0,1,Ricardo Silva,41,SP,Tech Lead,2008-12-17 14:37:56.310
1,2,Natalia Oliveira,35,SP,Analista de Dados Jr,1981-08-01 14:38:26.467
2,3,Carlos Oliveira,39,SP,Corretor de Seguros,1995-04-10 14:38:46.750
3,4,Alexandre,29,MG,Engenheiro de Dados Pleno,2008-12-17 14:39:00.180
4,5,Paula,35,MG,Engenheiro de Dados Pleno,2014-06-09 14:37:12.983

In [86]:
sql = ("SELECT TABLE_SCHEMA + '.' + TABLE_NAME AS row FROM information_schema. tables")

In [87]:
result_sql = pd.read_sql(sql,cursor)

In [88]:
result_sql

                   row
0   Usuarios.Cadastros
1  Usuarios.Documentos

In [49]:
lista = [1,2,3,4,5,6]

In [50]:
lista

[1, 2, 3, 4, 5, 6]

In [57]:
dic = {'pucrs': 'pucrs.csv', 'Fia': 'fia.csv'}

In [72]:
valor = '276.686.648-58'

In [74]:
valor = valor.replace('.','').replace('-','')

In [75]:
display(valor)

'27668664858'

In [62]:
df_documentos

   id          cpf
0   1  27664564858
1   2  35664564858
2   3  13464564858
3   4  668664858

In [77]:
df_cadastro.head()

,id,strNome,strIdade,strEstado,strProfissao,dtNascimento
0,1,Ricardo Silva,41,SP,Tech Lead,2008-12-17 14:37:56.310
1,2,Natalia Oliveira,35,SP,Analista de Dados Jr,1981-08-01 14:38:26.467
2,3,Carlos Oliveira,39,SP,Corretor de Seguros,1995-04-10 14:38:46.750
3,4,Alexandre,29,MG,Engenheiro de Dados Pleno,2008-12-17 14:39:00.180
4,5,Paula,35,MG,Engenheiro de Dados Pleno,2014-06-09 14:37:12.983

In [78]:
pd.read_xml('C:\\Users\\ricar\\Downloads\\Python-Data-Science-and-Machine-Learning-Bootcamp\\download.xml',encoding='utf-8')

AttributeError: module 'pandas' has no attribute 'read_xml'

In [79]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<data xmlns="http://example.com">
 <row>
   <shape>square</shape>
   <degrees>360</degrees>
   <sides>4.0</sides>
 </row>
 <row>
   <shape>circle</shape>
   <degrees>360</degrees>
   <sides/>
 </row>
 <row>
   <shape>triangle</shape>
   <degrees>180</degrees>
   <sides>3.0</sides>
 </row>
</data>'''

In [80]:
df = pd.read_xml(xml)
df

AttributeError: module 'pandas' has no attribute 'read_xml'

In [82]:
from xml.dom import minidom

In [84]:
file = minidom.parse('C:\\Users\\ricar\\Downloads\\Python-Data-Science-and-Machine-Learning-Bootcamp\\download.xml')

In [85]:
models = file.getElementsByTagName('bolsa_atleta_qtd_atletas_sexo_masc_cor_branco_i')

In [86]:
print(file)

<xml.dom.minidom.Document object at 0x00000199D8177288>

In [87]:
pd.read_xml(file)

AttributeError: module 'pandas' has no attribute 'read_xml'

In [41]:
df = pd.DataFrame(file)

ValueError: DataFrame constructor not properly called!

In [61]:
import pandas as pd
import xml.etree.ElementTree as et

In [73]:
def transform_xml(xml_doc):
    attr = xml_doc.attrib
    for xml in xml_doc.iter('Transaction'):
        dict = attr.copy()
        dict.update(xml.attrib)
        
        yield dict

In [63]:
etree = et.parse('C:\\Users\\ricar\\Downloads\\Python-Data-Science-and-Machine-Learning-Bootcamp\\download.xml')

In [67]:
eroot = etree.getroot()

In [68]:
trans = transform_xml(eroot)

In [69]:
tr_df = pd.DataFrame(list(trans))

In [70]:
tr_df

Empty DataFrame
Columns: []
Index: []

In [64]:
type(etree)

xml.etree.ElementTree.ElementTree

In [72]:
display(etree)

In [88]:
import pandas as pd 
import xml.etree.ElementTree as et 

xtree = et.parse('C:\\Users\\ricar\\Downloads\\Python-Data-Science-and-Machine-Learning-Bootcamp\\download.xml')
xroot = xtree.getroot()

In [90]:
display(xtree)

In [91]:
import xml.etree.ElementTree as ETree
import pandas as pd
  
xmldata = '''<?xml version="1.0" encoding="UTF-8"?>
        <Food>
            <Info>
            <Msg>Food Store items.</Msg>
            </Info>
            <store slNo="1">
                <foodItem>meat</foodItem>
                <price>200</price>
                <quantity>1kg</quantity>
                <discount>7%</discount>
            </store>
            <store slNo="2">
                <foodItem>fish</foodItem>
                <price>150</price>
                <quantity>1kg</quantity>
                <discount>5%</discount>
            </store>
            <store slNo="3">
                <foodItem>egg</foodItem>
                <price>100</price>
                <quantity>50 pieces</quantity>
                <discount>5%</discount>
            </store>
            <store slNo="4">
                <foodItem>milk</foodItem>
                <price>50</price>
                <quantity>1 litre</quantity>
                <discount>3%</discount>
            </store>
        </Food>
'''
  
prstree = ETree.fromstring(xmldata)
root = prstree.tag
  
#print(root)
store_items = []
all_items = []
  
for storeno in prstree.findall('store'):  
    store_Nr = storeno.attrib.get('slNo')
    itemsF= storeno.find('foodItem').text
    price= storeno.find('price').text
    quan= storeno.find('quantity').text
    dis= storeno.find('discount').text
          
    store_items = [store_Nr,itemsF,price,quan,dis]
    all_items.append(store_items)
  
xmlToDf = pd.DataFrame(all_items,columns=[
  'SL No','ITEM_NUMBER','PRICE','QUANTITY','DISCOUNT'])        
  
print(xmlToDf.to_string(index=False))

SL No ITEM_NUMBER PRICE   QUANTITY DISCOUNT
    1        meat   200        1kg       7%
    2        fish   150        1kg       5%
    3         egg   100  50 pieces       5%
    4        milk    50    1 litre       3%

In [180]:
import pandas as pd
import xml.etree.ElementTree as ET

arquivo = ('download.xml')

def lerXML(arquivo):
    xml_dados = open(arquivo, 'r', encoding='UTF-8').read()
    raiz = ET.XML(xml_dados)
    dados = []
    colunas = []
    for i,child in enumerate(raiz):
        dados.append([subchild.text for subchild in child])
        colunas.append([subchild.tag for subchild in child])
    df = pd.DataFrame(dados)
    df.columns = colunas[0]
    return df

In [181]:
lerXML(arquivo)

  EndCli TelCli TelCli EndEtnCli EndEtnCli
0   None   None   None      None      None

In [31]:
import json
import xmltodict 
with open('download.xml') as xml_file:
    data_dict = xmltodict.parse(xml_file.read())     
    json_data = json.dumps(data_dict)
    with open("data.json", "w") as json_file:
        json_file.write(json_data)

In [147]:
pd.read_json('C:\\Users\\ricar\\Downloads\\Python-Data-Science-and-Machine-Learning-Bootcamp\\data.json')

                                                    Envocad
@CnpjOgm                                          123456789
@NmOgm                                            NHS Teste
Cli       {'@TipCli': '1', '@IdfcCli': '45000000', 'EndC...

In [30]:
from xml.etree import ElementTree as ET

xml    = ET.parse('download.xml')


def parseXmlToJson(xml):
    response = {}
    for child in list(xml):
        if len(list(child)) > 0:
            response[child.tag] = parseXmlToJson(child)
        else:
            response[child.tag] = child.text or ''
            return response

In [125]:
arquivo = ('C:\\Users\\ricar\\Downloads\\Python-Data-Science-and-Machine-Learning-Bootcamp\\download.xml')
parseXmlToJson(arquivo)

RecursionError: maximum recursion depth exceeded while calling a Python object

In [28]:
with open('C:\\Users\\ricar\\Downloads\\Python-Data-Science-and-Machine-Learning-Bootcamp\\download.xml') as fd:
    print

In [21]:
!pip install xmljson
!pip install xmltodict

Requirement already satisfied: xmljson in c:\users\ricar\anaconda3\lib\site-packages (0.2.1)
Collecting xmltodict
  Using cached https://files.pythonhosted.org/packages/94/db/fd0326e331726f07ff7f40675cd86aa804bfd2e5016c727fa761c934990e/xmltodict-0.13.0-py2.py3-none-any.whl
Installing collected packages: xmltodict
Successfully installed xmltodict-0.13.0

In [17]:
import pandas as pd
import xml.etree.ElementTree as et

In [18]:
etree = et.parse("download.xml")
eroot = etree.getroot()
list1 = eroot.findall('Cli')

In [345]:
def parse_xml(root):
    attr = root.attrib
    dados = []
    for root_element in eroot.findall("Cli"):
        xml_data = attr.copy()
        xml_data.update(root_element.attrib)
        dados.append(root_element.attrib)
        
    for email in root_element.findall("EndCli"):
        xml_data.update(email.attrib)
        dados.append(email.attrib)
        
    for term in root_element.findall("EndEtnCli"):
        xml_data.update(term.attrib)
        dados.append(term.attrib)
        
    for term in root_element.findall("TelCli"):
        xml_data.update(term.attrib)
        dados.append(term.attrib)
        
    print(dados)
    yield xml_data

In [346]:
data = parse_xml(eroot)
data = list(data)
df = pd.DataFrame(data)
df

[{'TipCli': '1', 'IdfcCli': '45000000'}, {'LgrEndCli': 'Avenida Real do Parque'}, {'EmailCli': 'teste@ig.com.br'}, {'EmailCli': 'ricardo@ig.com.br'}, {'DddTelCli': '11', 'NrTelCli': '36094332'}, {'DddTelCli': '13', 'NrTelCli': '43244000'}]

,CnpjOgm,NmOgm,TipCli,IdfcCli,LgrEndCli,EmailCli,DddTelCli,NrTelCli
0,123456789,NHS Teste,1,45000000,Avenida Real do Parque,ricardo@ig.com.br,13,43244000

In [347]:
def parse_xml(root):
    attr = root.attrib
    dados = []
    for root_element in eroot.findall("Cli"):
        xml_data = attr.copy()
        xml_data.update(root_element.attrib)
        dados.append(root_element.attrib)
        
    for email in root_element.findall("EndCli"):
        xml_data.update(email.attrib)
        dados.append(email.attrib)
        
    for term in root_element.findall("EndEtnCli"):
        xml_data.update(term.attrib)
        dados.append(term.attrib)
        
    for term in root_element.findall("TelCli"):
        xml_data.update(term.attrib)
        dados.append(term.attrib)
        
    yield xml_data

In [21]:
import pandas as pd
import xmltodict

with open('download.xml') as xml_file:
    data_dict = xmltodict.parse(xml_file.read())
    df1 = pd.DataFrame.from_dict(data_dict)
    print(data_dict)
    df = pd.DataFrame.from_dict(data_dict, orient="index").reset_index()

{'Envocad': {'@CnpjOgm': '123456789', '@NmOgm': 'NHS Teste', 'Cli': {'@TipCli': '1', '@IdfcCli': '45000000', 'EndCli': {'@LgrEndCli': 'Avenida Real do Parque'}, 'TelCli': [{'@DddTelCli': '11', '@NrTelCli': '36094332'}, {'@DddTelCli': '13', '@NrTelCli': '43244000'}], 'EndEtnCli': [{'@EmailCli': 'teste@ig.com.br'}, {'@EmailCli': 'ricardo@ig.com.br'}]}}}

In [36]:
import pandas as pd
import xmltodict

with open('download.xml') as xml_file:
    data_dict = xmltodict.parse(xml_file.read())
    df1 = pd.DataFrame.from_dict(data_dict)    
    for x in data_dict.keys():
        print(x)

Envocad

In [210]:
valor = data_dict["Envocad"]
##print(valor)
valor = data_dict["Envocad"]['Cli']
##print(valor)
valor = data_dict["Envocad"]['Cli']['EndCli']
print(valor)
valor = data_dict["Envocad"]['Cli']['TelCli'][0]
print(valor)
valor = data_dict["Envocad"]['Cli']['EndEtnCli']
print(valor)

{'@LgrEndCli': 'Avenida Real do Parque'}
{'@DddTelCli': '11', '@NrTelCli': '36094332'}
[{'@EmailCli': 'teste@ig.com.br'}, {'@EmailCli': 'ricardo@ig.com.br'}]

In [124]:
dados = []

with open('download.xml') as xml_file:
    data_dict = xmltodict.parse(xml_file.read())

##for raiz in data_dict.values():
  ##  dados.append(raiz)
    ##print(raiz)
    

for raiz in data_dict["Envocad"]['Cli']:
    dados.append(raiz)
    ##print(raiz)    
    
for raiz in data_dict["Envocad"]['Cli']['EndCli']:
    dados.append(raiz)
    ##print(raiz)    

for raiz in data_dict["Envocad"]['Cli']['TelCli']:
    dados.append(raiz)
    ##print(raiz)
    
for raiz in data_dict["Envocad"]['Cli']['EndEtnCli']:
    dados.append(raiz)
    ##print(raiz)

print(dados)

['@TipCli', '@IdfcCli', 'EndCli', 'TelCli', 'EndEtnCli', '@LgrEndCli', {'@DddTelCli': '11', '@NrTelCli': '36094332'}, {'@DddTelCli': '13', '@NrTelCli': '43244000'}, {'@EmailCli': 'teste@ig.com.br'}, {'@EmailCli': 'ricardo@ig.com.br'}]

In [168]:
with open('download.xml') as xml_file:
    data_dict = xmltodict.parse(xml_file.read())    

for raiz in data_dict["Envocad"]['Cli']:
    cli = raiz    
    
for raiz in data_dict["Envocad"]['Cli']['EndCli']:
    end = raiz 

for raiz in data_dict["Envocad"]['Cli']['TelCli']:
    tel = raiz
    print(tel)    
    
for raiz in data_dict["Envocad"]['Cli']['EndEtnCli']:
    email = raiz
    print(data_dict)

{'@DddTelCli': '11', '@NrTelCli': '36094332'}
{'@DddTelCli': '13', '@NrTelCli': '43244000'}
{'Envocad': {'@CnpjOgm': '123456789', '@NmOgm': 'NHS Teste', 'Cli': {'@TipCli': '1', '@IdfcCli': '45000000', 'EndCli': {'@LgrEndCli': 'Avenida Real do Parque'}, 'TelCli': [{'@DddTelCli': '11', '@NrTelCli': '36094332'}, {'@DddTelCli': '13', '@NrTelCli': '43244000'}], 'EndEtnCli': [{'@EmailCli': 'teste@ig.com.br'}, {'@EmailCli': 'ricardo@ig.com.br'}]}}}
{'Envocad': {'@CnpjOgm': '123456789', '@NmOgm': 'NHS Teste', 'Cli': {'@TipCli': '1', '@IdfcCli': '45000000', 'EndCli': {'@LgrEndCli': 'Avenida Real do Parque'}, 'TelCli': [{'@DddTelCli': '11', '@NrTelCli': '36094332'}, {'@DddTelCli': '13', '@NrTelCli': '43244000'}], 'EndEtnCli': [{'@EmailCli': 'teste@ig.com.br'}, {'@EmailCli': 'ricardo@ig.com.br'}]}}}

In [158]:
import json 
import pandas as pd 
from pandas.io.json import json_normalize

with open('data.json') as f:
    d = json.load(f)
    df2 = pd.DataFrame.from_dict(d, orient="index")
display(df2)

,@CnpjOgm,@NmOgm,Cli
Envocad,123456789,NHS Teste,"{'@TipCli': '1', '@IdfcCli': '45000000', 'EndC..."

In [179]:
lerXML(etree)

TypeError: expected str, bytes or os.PathLike object, not ElementTree

In [343]:
import pandas as pd
import xmltodict

with open('download.xml') as xml_file:
    data_dict = xmltodict.parse(xml_file.read())

In [344]:
print(data_dict)

{'Envocad': {'@CnpjOgm': '123456789', '@NmOgm': 'NHS Teste', 'Cli': {'@TipCli': '1', '@IdfcCli': '45000000', 'EndCli': {'@LgrEndCli': 'Avenida Real do Parque'}, 'TelCli': [{'@DddTelCli': '11', '@NrTelCli': '36094332'}, {'@DddTelCli': '13', '@NrTelCli': '43244000'}], 'EndEtnCli': [{'@EmailCli': 'teste@ig.com.br'}, {'@EmailCli': 'ricardo@ig.com.br'}]}}}

In [200]:
for raiz in data_dict["Envocad"]['Cli']['TelCli'][0]:
    data = raiz

In [208]:
for x in data_dict.values():
    print(x)

{'@CnpjOgm': '123456789', '@NmOgm': 'NHS Teste', 'Cli': {'@TipCli': '1', '@IdfcCli': '45000000', 'EndCli': {'@LgrEndCli': 'Avenida Real do Parque'}, 'TelCli': [{'@DddTelCli': '11', '@NrTelCli': '36094332'}, {'@DddTelCli': '13', '@NrTelCli': '43244000'}], 'EndEtnCli': [{'@EmailCli': 'teste@ig.com.br'}, {'@EmailCli': 'ricardo@ig.com.br'}]}}

In [211]:
valor = data_dict["Envocad"]['Cli']['EndCli']
print(valor)
valor = data_dict["Envocad"]['Cli']['TelCli'][0]
print(valor)
valor = data_dict["Envocad"]['Cli']['EndEtnCli']
print(valor)

{'@LgrEndCli': 'Avenida Real do Parque'}
{'@DddTelCli': '11', '@NrTelCli': '36094332'}
[{'@EmailCli': 'teste@ig.com.br'}, {'@EmailCli': 'ricardo@ig.com.br'}]

In [232]:
dados = []
for x in data_dict["Envocad"]['Cli']['EndCli']:
    for x in data_dict["Envocad"]['Cli']['TelCli'][0]:
        for x in data_dict["Envocad"]['Cli']['EndEtnCli'][1]:
            dados.append(x)
            
    print(dados)
    
    df1 = pd.DataFrame(dados)

['@EmailCli', '@EmailCli']

In [234]:
for line in data_dict:
    if line[0] in data_dict:
        data_dict[line[0]].append(line[1])
    else:
        data_dict[line[0]] = [line[1]]

RuntimeError: dictionary changed size during iteration

In [239]:
print(data_dict.get('Envocad'))

{'@CnpjOgm': '123456789', '@NmOgm': 'NHS Teste', 'Cli': {'@TipCli': '1', '@IdfcCli': '45000000', 'EndCli': {'@LgrEndCli': 'Avenida Real do Parque'}, 'TelCli': [{'@DddTelCli': '11', '@NrTelCli': '36094332'}, {'@DddTelCli': '13', '@NrTelCli': '43244000'}], 'EndEtnCli': [{'@EmailCli': 'teste@ig.com.br'}, {'@EmailCli': 'ricardo@ig.com.br'}]}}

In [241]:
list(data_dict.items())

[('Envocad',
  {'@CnpjOgm': '123456789',
   '@NmOgm': 'NHS Teste',
   'Cli': {'@TipCli': '1',
    '@IdfcCli': '45000000',
    'EndCli': {'@LgrEndCli': 'Avenida Real do Parque'},
    'TelCli': [{'@DddTelCli': '11', '@NrTelCli': '36094332'},
     {'@DddTelCli': '13', '@NrTelCli': '43244000'}],
    'EndEtnCli': [{'@EmailCli': 'teste@ig.com.br'},
     {'@EmailCli': 'ricardo@ig.com.br'}]}}),
 ('E', ['n'])]

In [321]:
def parse_xml(root):
    attr = root.attrib
    data = []
    for root_element in eroot.findall("Cli"):
        xml_data = attr.copy()
        for email in root_element.findall("EndCli"):
            for term in root_element.findall("EndEtnCli"):
                for term in root_element.findall("TelCli")[0]:
                    xml_data.update(root_element.attrib)
                    xml_data.update(term.attrib)
                    
    yield xml_data

In [322]:
data = parse_xml(eroot)
data = list(data)
df = pd.DataFrame(data)
df

     CnpjOgm      NmOgm
0  123456789  NHS Teste

In [380]:
for x in data_dict:
    valor = data_dict["Envocad"]

    print(valor['Cli']['TelCli'])

[{'@DddTelCli': '11', '@NrTelCli': '36094332'}, {'@DddTelCli': '13', '@NrTelCli': '43244000'}]

In [342]:
import xml.etree.ElementTree as ET

xml_string = """<root_records>
<student>
    <id>A100</id>
    <name>John</name>
    <name>Johny</name>
    <dob>11/01/1999</dob>
</student>
<student>
    <id>A140</id>
    <name>Mat</name>
    <name>Matthew</name>
    <dob>01/01/1995</dob>
</student></root_records>"""

tree = ET.fromstring(xml_string)
names = {}

for i in tree.iter("student"):
    student_id = i.find("id").text
    k = [x.text for x in i.findall('name')]
    names[student_id] = k

print(names)
df1 = pd.DataFrame(names)
df1

{'A100': ['John', 'Johny'], 'A140': ['Mat', 'Matthew']}

    A100     A140
0   John      Mat
1  Johny  Matthew

In [46]:
import pandas as pd
import xmltodict
import os, sys

with open('download.xml') as fd:
    doc = xmltodict.parse(fd.read())

In [47]:
print(doc)

{'Envocad': {'@CnpjOgm': '123456789', '@NmOgm': 'NHS Teste', 'Cli': [{'@TipCli': '1', '@IdfcCli': '45000000', 'EndCli': {'@LgrEndCli': 'Avenida Real do Parque', '@NroEndCli': '43'}, 'TelCli': [{'@DddTelCli': '11', '@NrTelCli': '36094332'}, {'@DddTelCli': '13', '@NrTelCli': '43244000'}], 'EndEtnCli': [{'@EmailCli': 'teste@ig.com.br'}, {'@EmailCli': 'ricardo@ig.com.br'}]}, {'@TipCli': '2', '@IdfcCli': '50400000', 'EndCli': {'@LgrEndCli': 'Rua Leal', '@NroEndCli': '40'}, 'TelCli': [{'@DddTelCli': '11', '@NrTelCli': '39099999'}, {'@DddTelCli': '14', '@NrTelCli': '49994000'}], 'EndEtnCli': [{'@EmailCli': 'robert@ig.com.br'}, {'@EmailCli': 'rica@ig.com.br'}]}]}}

In [55]:
import pandas as pd
import xmltodict

with open('C:\\Users\\ricar\\Downloads\\Python-Data-Science-and-Machine-Learning-Bootcamp\\download.xml') as fd:
    doc = xmltodict.parse(fd.read())

lista_cli = []

for cli in doc.get('Envocad').get('Cli'):
    for telCli in cli.get('TelCli'):
        for endEtnCli in cli.get('EndEtnCli'):
            lista_cli.append({
            'TipCli': cli.get('@TipCli'),
            'IdfcCli': cli.get('@IdfcCli'),
            'DddTelCli': telCli.get('@DddTelCli'),
            'NrTelCli': telCli.get('@NrTelCli'),
            'EmailCli': endEtnCli.get('@EmailCli')
        })

In [67]:
df = pd.DataFrame(lista_cli)
df.drop_duplicates('NrTelCli')

  TipCli   IdfcCli DddTelCli  NrTelCli          EmailCli
0      1  45000000        11  36094332   teste@ig.com.br
2      1  45000000        13  43244000   teste@ig.com.br
4      2  50400000        11  39099999  robert@ig.com.br
6      2  50400000        14  49994000  robert@ig.com.br

In [13]:
from azure.storage.blob import BlobServiceClient
import pandas as pd

STORAGEACCOUNTURL= 'https://camadaraw.blob.core.windows.net/raw/cadastros.csv'
STORAGEACCOUNTKEY= '5kATA5HTdReK1EfJ9GKrsLnBrWAwm79XD2rO%2BnOBk9A%3D'
LOCALFILENAME= 'cadastros.csv'
CONTAINERNAME= 'camadaraw'
BLOBNAME= 'raw'

#download from blob
t1=time.time()
blob_service_client_instance = BlobServiceClient(account_url=STORAGEACCOUNTURL, credential=STORAGEACCOUNTKEY)
blob_client_instance = blob_service_client_instance.get_blob_client(CONTAINERNAME, BLOBNAME, snapshot=None)
with open(LOCALFILENAME, "wb") as my_blob:
    blob_data = blob_client_instance.download_blob()
    blob_data.readinto(my_blob)
t2=time.time()
print(("It takes %s seconds to download "+BLOBNAME) % (t2 - t1))

ModuleNotFoundError: No module named 'azure'

In [2]:
import azure.functions

def main(req: azure.functions.HttpRequest) -> str:
    user = req.params.get('user')
    return f'Hello, {user}!'

ModuleNotFoundError: No module named 'azure'

In [2]:
import pandas as pd
pd.read_parquet('C:\\Users\\ricar\\Downloads\\userdata1.parquet', engine='pyarrow')

ImportError: pyarrow is required for parquet support

you can install via conda
conda install pyarrow -c conda-forge

or via pip
pip install -U pyarrow

In [13]:
import pandas as pd
from io import BytesIO
from azure.storage.blob import ContainerClient

path = 'raw'
conn_string = 'https://camadaraw.blob.core.windows.net/'
blob_name = f'{path}.parquet'

container = ContainerClient.from_connection_string(conn_str=conn_string, container_name='camadaraw')

blob_client = container.get_blob_client(blob=blob_name)
stream_downloader = blob_client.download_blob()
stream = BytesIO()
stream_downloader.readinto(stream)
processed_df = pd.read_parquet(stream, engine='pyarrow')



https://camadaraw.blob.core.windows.net/raw/userdata1.parquet
    
'abfss://raw2@dlsuoledtechdev01.dfs.core.windows.net/opm/db

SyntaxError: invalid syntax (<ipython-input-13-ba7b5a569134>, line 19)

ModuleNotFoundError: No module named 'azure'